.black {
  background: #000000 !important;
}

.black-text {
  color: #000000 !important;
}

.white {
  background: #ffffff !important;
}

.white-text {
  color: #ffffff !important;
}

.transparent {
  background: transparent !important;
}

.transparent-text {
  color: transparent !important;
}

.red {
  background: #f44336 !important;
}

.red-text {
  color: #f44336 !important;
}

.pink {
  background: #e91e63 !important;
}

.pink-text {
  color: #e91e63 !important;
}

.purple {
  background: #9c27b0 !important;
}

.purple-text {
  color: #9c27b0 !important;
}

.deep-purple {
  background: #673ab7 !important;
}

.deep-purple-text {
  color: #673ab7 !important;
}

.indigo {
  background: #3f51b5 !important;
}

.indigo-text {
  color: #3f51b5 !important;
}

.blue {
  background: #2196f3 !important;
}

.blue-text {
  color: #2196f3 !important;
}

.light-blue {
  background: #03a9f4 !important;
}

.light-blue-text {
  color: #03a9f4 !important;
}

.cyan {
  background: #00bcd4 !important;
}

.cyan-text {
  color: #00bcd4 !important;
}

.teal {
  background: #009688 !important;
}

.teal-text {
  color: #009688 !important;
}

.green {
  background: #4caf50 !important;
}

.green-text {
  color: #4caf50 !important;
}

.light-green {
  background: #8bc34a !important;
}

.light-green-text {
  color: #8bc34a !important;
}

.lime {
  background: #cddc39 !important;
}

.lime-text {
  color: #cddc39 !important;
}

.yellow {
  background: #ffeb3b !important;
}

.yellow-text {
  color: #ffeb3b !important;
}

.amber {
  background: #ffc107 !important;
}

.amber-text {
  color: #ffc107 !important;
}

.orange {
  background: #ff9800 !important;
}

.orange-text {
  color: #ff9800 !important;
}

.deep-orange {
  background: #ff5722 !important;
}

.deep-orange-text {
  color: #ff5722 !important;
}

.brown {
  background: #795548 !important;
}

.brown-text {
  color: #795548 !important;
}

.blue-grey {
  background: #607d8b !important;
}

.blue-grey-text {
  color: #607d8b !important;
}
