// Display
.d-block {
  display: block;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}
.d-none {
  display: none !important;
}
.d-visible {
  visibility: visible;
}
.d-hidden {
  visibility: hidden;
}

// positon

.p-fixed {
  position: fixed;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-static {
  position: static;
}

.p-sticky {
  position: sticky;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.center {
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.fill-width {
  width: 100%;
}

.fill {
  width: 100%;
  height: 100%;
}

.fill-height {
  height: 100%;
}
